<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
<main class="bg-secondary-subtle w-100 d-flex flex-column justify-content-center align-items-center p-3">
    <div class="container d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center card p-5 rounded-4 bg-body-tertiary w-50">
            <h2 class=" text-danger mt-3 fw-bold">Cadastro de Usuário</h2>
            <form action="" class="container card-body">
                <label class="mt-2 mb-2">Nome do funcionário</label>
                <input type="text" name="" id="name" class="form-control mb-3" placeholder="Nome e sobrenome">
                <label class="mt-2 mb-2">Nome do Usúario</label>
                <input class="form-control mb-3" type="text" placeholder="funcionario_123" id="username">
                <label class="mt-2 mb-2">E-mail</label>
                <input type="email" class="form-control mb-3" placeholder="digite@seuemail.com" id="email">
                <label class="mt-2 mb-2">Digite uma senha</label>
                <input type="password" class="form-control mb-3" placeholder="*******" id="password">
                <label class="mt-2 mb-2">Confirmar senha</label>
                <input type="password" class="form-control mb-3" placeholder="*******" id="passwordRepeat">
                <label class="mt-2 mb-2"> Tipod de acesso </label>
                <select name="" id="role" class="form-select  mb-5">
                    <option value="default">Padrão</option>
                    <option value="admin">Gerente</option>
                    <option value="manager">Administrador</option>
                </select>  
                <input type="submit" class="btn btn-outline-danger btn-lg" value="Cadastrar" id="btnSubmit">  

                <div class="d-none gap-3 align-items-center justify-content-center" id="loader">
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div> 
                    <span class="text-danger fs-5 fw-bold"> Cadastrando... </span>
                </div>


            </form>
        </div>
    </div>
</main>
<script>       
    async function sendData(e){
        e.preventDefault();  // Impede o envio do formulário
    
        const loader = document.getElementById('loader');  
        const btnSubmit = document.getElementById('btnSubmit');  
        const name = document.getElementById('name').value;
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const passwordRepeat = document.getElementById('passwordRepeat').value;
        const role = document.getElementById('role').value;

        loader.classList.add("d-flex");
        btnSubmit.classList.add("d-none");
        const data = { name, username, email, password, role };
    
        if (password === passwordRepeat){
            try {
                const response = await axios.post("/api/register/user", data);
                alert(`Usuário: ${username}, criado com sucesso`);
                loader.classList.remove("d-flex");
                btnSubmit.classList.remove("d-none");
    
            } catch (error) {
                console.error("Erro ao criar o usuário:", error);
                alert("Houve um erro ao criar o usuário. Tente novamente.");
                loader.classList.remove("d-flex");
                btnSubmit.classList.remove("d-none");
            }
        } else {

            alert("As senhas não coincidem.");
            loader.classList.remove("d-flex");
            btnSubmit.classList.remove("d-none");
        }
    }
    

    const btnSubmit = document.getElementById('btnSubmit');
    btnSubmit.addEventListener("click", sendData);
    </script>
    

<%- include("../partials/footer") %>
