<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
<main class="bg-secondary-subtle w-100 d-flex flex-column justify-content-center align-items-center p-3">
    <div class="container d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center card p-5 rounded-4 bg-body-tertiary w-50">
            <h2 class=" text-danger mt-3 fw-bold">Cadastro de Usuário</h2>
            
            <!-- Mensagem de sucesso ou erro -->
            <div id="message" class="alert d-none" role="alert"></div>

            <form id="registerForm" class="container card-body">
                <label class="mt-2 mb-2">Nome do funcionário</label>
                <input required type="text" name="name" id="name" class="form-control mb-3" placeholder="Nome e sobrenome">
                <label class="mt-2 mb-2">Nome do Usúario</label>
                <input required class="form-control mb-3" type="text" placeholder="funcionario_123" id="username">
                <label class="mt-2 mb-2">E-mail</label>
                <input required type="email" class="form-control mb-3" placeholder="digite@seuemail.com" id="email">
                <label class="mt-2 mb-2">Digite uma senha</label>
                <input required type="password" class="form-control mb-3" placeholder="*******" id="password">
                <label class="mt-2 mb-2">Confirmar senha</label>
                <input required type="password" class="form-control mb-3" placeholder="*******" id="passwordRepeat">
                <label class="mt-2 mb-2">Tipo de acesso</label>
                <select name="role" id="role" class="form-select  mb-5">
                    <option value="default">Padrão</option>
                    <option value="admin">Gerente</option>
                    <option value="manager">Administrador</option>
                </select>  
                <div class="d-flex align-items-center justify-content-center">
                    <input type="submit" class="btn btn-outline-danger btn-lg " value="Cadastrar" id="btnSubmit"> 
                </div>
              
                <div class="d-none gap-3 align-items-center justify-content-center" id="loader">
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div> 
                    <span class="text-danger fs-5 fw-bold"> Cadastrando... </span>
                </div>
            </form>
            <p class="mt-2" id="sendBtn">
                <a href="/admin/users/list" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    <i class="fa-solid fa-list"></i> Ver Lista de Usuários
                </a>
            </p> 
        </div>
    </div>
</main>

<script>       
    async function sendData(e){
        e.preventDefault();  // Impede o envio do formulário
    
        const loader = document.getElementById('loader');  
        const btnSubmit = document.getElementById('btnSubmit');  
        const message = document.getElementById('message');
        
        const name = document.getElementById('name').value;
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const passwordRepeat = document.getElementById('passwordRepeat').value;
        const role = document.getElementById('role').value;

        loader.classList.remove("d-none");
        loader.classList.add("d-flex");
        btnSubmit.classList.add("d-none");

        const data = { name, username, email, password, role };

        if (password === passwordRepeat) {
            try {
                const response = await axios.post("/api/register/user", data);
                loader.classList.add("d-none");
                loader.classList.remove("d-flex");

                // Exibe a mensagem de sucesso
                message.classList.remove("d-none");
                message.classList.add("alert-success");
                message.textContent = `Usuário: ${username}, criado com sucesso!`;
                setTimeout(() => {
                message.classList.add("d-none");
                document.getElementById('registerForm').reset();  // Limpa todos os campos
                }, 5000);
                btnSubmit.classList.remove("d-none");

            } catch (error) {
                console.error("Erro ao criar o usuário:", error);
                loader.classList.add("d-none");
                loader.classList.remove("d-flex");

                // Exibe a mensagem de erro
                message.classList.remove("d-none");
                message.classList.add("alert-danger");
                message.textContent = "Houve um erro ao criar o usuário. Tente novamente.";
                setTimeout(() => message.classList.add("d-none"), 30000);
                btnSubmit.classList.remove("d-none");
            }
        } else {
            alert("As senhas não coincidem.");
            loader.classList.add("d-none");
            loader.classList.remove("d-flex");
            btnSubmit.classList.remove("d-none");
        }
    }

    // Usando o evento submit no formulário
    const registerForm = document.getElementById('registerForm');
    registerForm.addEventListener("submit", sendData);
</script>

<%- include("../partials/footer") %>
