<div class="d-flex w-100 justify-content-between align-items-center p-3">
    <a class="btn btn-outline-danger" href="/dashboard"><i class="fa-solid fa-chart-line"></i> <span>Painel de Controle </span></a>
    <h2 class="fs-2 fw-bold text-danger">AutoStock</h2>
    <a class="btn btn-outline-danger" href="/cars/new"><i class="fa-solid fa-car"></i> <span>Novo veículo</span></a>
</div>
