
<div id="sidebarClose" class="d-flex justify-content-center align-items-start p-3 bg-body-secundary" style="width: 9vw; height: 100vh;">
    <i class="fa-solid fa-bars fs-3 text-danger" style="cursor: pointer;" id="toggledButton"></i>
</div>
<div class="d-none flex-column flex-shrink-0 p-3 bg-body-secundary" style="width: 13vw; height: 100vh;" id="sidebar">
    <div class="d-flex gap-3 align-items-center ">
        <i class="fa-solid fa-arrow-left text-danger" id="back" style="cursor: pointer" ></i>
        <span ><a href="/dashboard" class="fs-4 fw-bold text-danger link-underline-light">AutoStock</a></span>
    </div>
    <hr>
    <ul class="nav navbar-expand-lg flex-column mb-auto">
      <li class="nav-item "><a href="/dashboard" class="nav-link link-dark <% if (currentPage === 'dashboard') { %> text-light bg-danger rounded-4 fw-bold <% } %>">Painel de Controle</a></li>
      <li class="nav-item "><a href="/cars/list" class="nav-link link-dark <% if (currentPage === 'carList') { %> text-light  bg-danger rounded-4  fw-bold <% } %>">Lista de carros</a></li>
      <li class="nav-item "><a href="/cars/new" class="nav-link link-dark <% if (currentPage === 'create') { %> text-light  bg-danger rounded-4  fw-bold <% } %>">Novo Veículo</a></li>
      <li class="nav-item "><a href="#" class="nav-link link-dark <% if (currentPage === 'users') { %> text-light  bg-danger rounded-4  fw-bold<% } %>">Movimentações</a></li>
      <li class="nav-item "><a href="/admin/users/list" class="nav-link link-dark <% if (currentPage === 'admin') { %> text-light  bg-danger rounded-4  fw-bold <% } %>">Administrador</a></li>
  
    </ul>
    <hr>
    <div class="d-flex justify-content-between align-item-center">
      <button class="btn"><i class="fa-solid fa-gear"></i></button>

      <form action="/logout" method="get">
        <button type="submit" class="btn btn-danger">
          <i class="fa-solid fa-arrow-right-from-bracket"></i> <Span class="ml-2">Sair</Span>
        </button>
      </form> 




    </div>
  

  </div>

  <script>
    const toggleButton = document.getElementById("toggledButton")
    toggleButton.addEventListener('click',async()=>{
        const sidebarClose =document.getElementById("sidebarClose")
        const sidebar = document.getElementById("sidebar")
        sidebar.classList.remove('d-none');
        sidebar.classList.add('d-flex');
        sidebarClose.classList.remove('d-flex')
        sidebarClose.classList.add('d-none')
        const back = document.getElementById('back')
        back.addEventListener('click', () => {
        sidebar.classList.remove('d-flex');
        sidebar.classList.add('d-none');
        sidebarClose.classList.remove('d-none');
        sidebarClose.classList.add('d-flex');
        });

    
});


    
    
    
    
    
    </script>