<%- include("partials/header") %>
<main class="container">
    <div class="card">
        <form action="/login" class="form card-body" method="POST">
            <input type="text" placeholder="E-mail" name="email" class="form-control">
            <input type="password" placeholder="senha" name="pass" class="form-control">
            <input type="submit" class="btn btn-primary" value="enviar">
        </form>
    </div>

</main>
<%- include("partials/footer") %>
