<%- include("../partials/header")%>
<%- include("../partials/sidebar")%>

<main class="container mt-5">
    <div class="card rouded-3">
    <table class="table table-secondary table-striped  ">
        <thead >
            <tr>
                <th scope="col" class="text-danger">ID</th>
                <th scope="col"class="text-danger">Modelo</th>
                <th scope="col"class="text-danger">Marca</th>
                <th scope="col"class="text-danger">Categoria</th>
                <th scope="col"class="text-danger">Ano</th>
                <th scope="col"class="text-danger">Placa</th>
              </tr>
        </thead>

        <tbody>
            <td>12</td>
            <td>Fiesta Class Rocam</td>
            <td>Ford</td>
            <td>LKZ-1F60</td>
            <td>Hatchback</td>
            <td>2009</td>

        </tbody>
    </table>
</div>

</main>
<%- include("../partials/footer")%>
