<%- include("../partials/header")%>
<%- include("../partials/sidebar")%>

<main class=" conteiner bg-body-tertiary w-100">
    <div class="card conteiner m-5" >
        <form action="" class="card-body">
            <h2 class="card-title">Cadastro de Novo Veículo</h2>
            <label for="" class="form-label">Placa</label>
            <input type="text" class="form-control " style="max-width: 10vw;">
            <label for="" class="form-label">Marca</label>
            <select>
                <option>Nissan</option>
            </select>

        </form>
    </div>
</main>



<%- include("../partials/footer")%>